
/*CSS om te zorgen dat divs met plaatjes over elkaar heen kunnen 

Bijvoorbeeld:
De div's voorblad_gemeentenaam en voorblad_datum zitten IN de div voorblad_achtergrond 
CSS bij de elementen IN de overkoepelende div bepaald de positie van die elementen relatief aan het het grotere plaatje.
Positie kan aangepast worden dmv "top" & "left".

TODO overleggen: alle H1 hebben nu standaard de opmaak van pagina_header 
Maakt het makkelijker voor eindgebruikers?

TODO overleggen: Alle h1 maken nu standaard een pagebreak before
maakt het makkelijker voor eindgebruikers?

*/

/*experiment met page-breaks/ pagedown & custom toc functie*/
.page-break { 
    page-break-before: always; 
}


.voorblad_achtergrond,
.pagina_header_img{

  position: relative;

}

.voorblad_gemeentenaam{
  position: absolute;
  top: 60%;
  left: 25%;
  z-index: 10;
  font-family: "Century Gothic";
  font-size: 50px;
  font-weight: bold;
  color: #012C17;
}

.voorblad_datum{
  position: absolute;
  top: 80%;
  left: 40%;
  z-index: 10;
  font-family: "Century Gothic";
  font-size: 30px;
  color: #012C17;
}

.pagina_header_titel{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 10;
  font-family: "Century Gothic";
  font-size: 24px;
  color: white;
}
 /*
 .pagina_header, h1{
  font-family: "Century Gothic";
  font-size: 24px;
  color: white;
  background-color: #007E48;
  padding: 15px;
}

*/
h1 {
  page-break-before: always; 
  font-family: "Century Gothic";
  font-size: 24px;
  color: white;
  background-color: #007E48;
  padding: 20px;
}
/* Tijdelijk geen background image nodig?
.voorblad {
  background-image: url("voorblad_alles.png");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
  width: 100%;
}
*/

